<ul class="main-section">
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text"
      >This is my first task to do and let me think what im gonna do next</span
    >
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
  <li class="todo-list">
    <div class="checkbox completed"><i class="fas fa-check check"></i></div>
    <span class="todo-text">This is my first task to do</span>
    <div class="edit-delete-container d-flex">
      <i class="fas fa-pen edit"></i>
      <i class="fas fa-trash-alt delete ml-2"></i>
    </div>
  </li>
</ul>

<div class="w-100 text-center">
  <h5 class="add-btn">New Task</h5>
</div>
